{{#if @site.cover_image}}
  <!-- div class="site-cover kg-width-full u-overlay">
    <img class="cover-image lazyload jarallax-img u-object-fit"
      data-src="{{img_url @site.cover_image}}"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      alt="{{@site.title}}"
    -->

<!-- <div class="cover-content" style="background-color:white; color:black !important; max-width:100%;">
      <h1 style="color: black; text-align: left; font-size: 3em;">Hi, I'm Roman.</h1>
      <p style="
      font-size: 25px;
      font-weight: 700;
      text-align: left;
      line-height: 40px;
      ">I help companies solve challenging business problems.</p>
      <p style="text-align: left;max-width: 750px;">Currently, I'm the Director of Digital Projects & Marketing at Kwiat | Fred Leighton.</p>
      <p style="text-align: left;max-width: 750px;">I'm also the co-founder and COO of <a href="https://dragonbloodbalm.com">Dragon Blood Balm</a>.</p>
      <p style="text-align: left;max-width: 750px;">My work draws on design, UX research, data science, product development, change management, and marketing + advertising. I started writing to create a personal reference guide for things I've learned, projects I've worked on, and interesting research to come back to later. Some people find this sort of thinking-out-loud useful, so if you'd like to get infrequent updates delivered warm to your inbox, sign up below.</p>
             <div>
                <form class="subscribe-form" data-members-form="subscribe">
                <input class="subscribe-email" type="email" data-members-email placeholder="{{t 'Your email address'}}" required="true" autocomplete="false">
                <button class="subscribe-button" type="submit">
                  {{> loader}}
                </button>
                <div class="notification notification-success">
                  {{t 'Great! Check your inbox and click the link to complete signin.'}}
                  <button class="button-icon notification-close"><i class="icon icon-window-close"></i></button>
                </div>
                <div class="notification notification-error">
                  {{t 'Please enter a valid email address!'}}
                  <button class="button-icon notification-close"><i class="icon icon-window-close"></i></button>
                </div>
              </form>
            </div>
  </div>
             <div>
                <form class="subscribe-form" data-members-form="subscribe">
                <input class="subscribe-email" type="email" data-members-email placeholder="{{t 'Your email address'}}" required="true" autocomplete="false">
                <button class="subscribe-button" type="submit">
                  {{> loader}}
                </button>
                <div class="notification notification-success">
                  {{t 'Great! Check your inbox and click the link to complete signin.'}}
                  <button class="button-icon notification-close"><i class="icon icon-window-close"></i></button>
                </div>
                <div class="notification notification-error">
                  {{t 'Please enter a valid email address!'}}
                  <button class="button-icon notification-close"><i class="icon icon-window-close"></i></button>
                </div>
              </form>
            </div>

    <!-- <div class="cover-content" style="display:none;">
      {{#if @site.description}}
        <div class="cover-description">{{@site.description}}</div>
      {{/if}}
      {{> subscribe is_cover=true}}
    </div>
  </div>

  <div class="gradient-bg" style="height:15px; width:100%; margin:-25px 0px 0px 0px; padding:0px;">
  </div>-->

{{/if}}