{{!< default}}

<div class="content-area">
  <main class="site-main">

<!-- GET "ABOUT ME" PAGE" -->
  {{#get "pages" limit="1" include="content" filter="tag:about" order="published_at desc"}}
      {{#foreach pages}}
      <p>{{content}}</p>
      {{/foreach}}
  {{/get}}

  <div class="gradient-bg" style="height:15px; width:100%; margin:50px 0px 0px 0px; padding:0px;"> </div>

<!-- END GET "ABOUT ME" PAGE" -->

<!-- Recent Posts Loop -->
  {{> recent-posts}}

<!-- Featured Loop -->
  {{> featured}}

  <section class="featured-wrapper">
    <header class="featured-header topic-header">
      <h2 class="featured-title topic-name">{{t 'Writing'}}</h2>
    </header>
<!-- Tags Loops -->
      {{#get "tags" limit="all" include="count.posts" filter="slug:-about"}}
        <div class="topic-feed">
          <div class="row">
            {{#foreach tags}}
              <div class="col-md-6">
                <section class="topic">
                  <header class="topic-header">
                    <h2 class="topic-name">{{name}}</h2>
                    <div class="topic-count">{{plural count.posts empty=(t 'No articles') singular=(t '1 article') plural=(t '% articles')}}</div>
                  </header>
                  {{#get "posts" order="published_at asc" filter="tag:{{slug}}" limit="5" as |featured|}}
                    <ul class="topic-article-feed u-plain-list">
                      {{#foreach featured}}
                        <li class="topic-article">
                          <h3 class="topic-article-title"><a class="topic-article-link" href="{{url}}"><i class="topic-article-icon icon icon-chevron-right"></i>{{title}}</a></h3>
                        </li>
                      {{/foreach}}
                    </ul>
                  {{/get}}
                  <a class="topic-more button-arrow button-arrow-right" href="{{url}}">{{t 'View All'}}</a>
                </section>
              </div>
            {{/foreach}}
          </div>
        </div>
      {{/get}}
    </section>
  </main>
</div>