{{!< default}}

<div class="content-area">
  <main class="site-main">
    {{> featured}}

<!-- Recent Posts -->
  <div style="background-color: #f7f7f7;padding: 40px 50px 20px 50px;margin-bottom: 50px;">
    <h3 style="padding-bottom: 20px; border-bottom: 1px solid #ccc;margin-bottom: 20px;">Recent Posts</h3>
  {{#get "posts" limit="5" include="tags" order="published_at desc"}}
      {{#foreach posts}}
      <p><a href="{{url}}">{{title}}</a> <span style="font-size: 0.8em !important; opacity:0.5;">{{date}} | <span style="padding: 3px 7px; border-radius: 3px; border: 1px solid #e0e0e0;">{{tags separator=", "}}</span></span></p>
      {{/foreach}}
  {{/get}}
  </div>
<!-- End Recent Posts -->

    {{#get "tags" limit="all" include="count.posts"}}
      <div class="topic-feed">
        <div class="row">
          {{#foreach tags}}
            <div class="col-md-6">
              <section class="topic">
                <header class="topic-header">
                  <h2 class="topic-name">{{name}}</h2>
                  <div class="topic-count">{{plural count.posts empty=(t 'No articles') singular=(t '1 article') plural=(t '% articles')}}</div>
                </header>
                {{#get "posts" order="published_at asc" filter="tag:{{slug}}" limit="5" as |featured|}}
                  <ul class="topic-article-feed u-plain-list">
                    {{#foreach featured}}
                      <li class="topic-article">
                        <h3 class="topic-article-title"><a class="topic-article-link" href="{{url}}"><i class="topic-article-icon icon icon-chevron-right"></i>{{title}}</a></h3>
                      </li>
                    {{/foreach}}
                  </ul>
                {{/get}}
                <a class="topic-more button-arrow button-arrow-right" href="{{url}}">{{t 'View All'}}</a>
              </section>
            </div>
          {{/foreach}}
        </div>
      </div>
    {{/get}}
  </main>
</div>